*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    max-width: 100vw;
    position: relative;
    background-color: #FAFAFA;
}
#canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

}
main{
    z-index: 2;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;

    height: 70px;
    align-items: center;
    z-index: 2;
}
header::before{
    position: absolute;
    content: "";
    inset: 0;
            background-color: #ffffff;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    opacity: 0.7;
    z-index: -1;

}
header > section{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
header > section div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
header > section img{
    height: 50px;
    width: auto;
}
header > section p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #1E1B4B;
}
.header1,.header2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.header1 button{
    border: 1px solid #D4D4D4;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.7rem;
    color: #0A0A0A;
    background-color: #F5F5F5;
}
.header2 button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #1E1B4B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header2 img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}
.first,.second,.third{
    padding: 4rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}
.first section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    font-weight: 500;
    font-size: 0.9rem;
        color: #1E1B4B;
}
.first h1{
    font-size: 3.2rem;
    font-weight: 500;


}
.first > div{
    height: 100%;
    overflow: hidden;
}
.first > div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.first button{
    border: none;
    background-color: #0A0A0A;
    padding: 0.5rem 0.7rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-radius: 0.1rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.8rem;
    align-items: center;
}
.first section div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.second1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 400;
    font-size: 0.8rem;
        color: #1E1B4B;
        align-items: start;
        text-wrap: nowrap;
}
.second1 h2{
    font-size: 2.3rem;
}
.second1 > div{
    position: relative;
    height: 100%;
    margin: 3rem 0;
    width: 100%;
}
.second1 > div div{
position: absolute;
padding: 0.5rem 1rem;
font-weight: 500;
font-size: 1.2rem;

border-radius: 0.2rem;


}
.second1 > div > div:first-of-type{
    color: #1E1B4B;
    border: 1.25px solid #C7D2FE;
    background-color: #EEF2FF;
    transform: rotate(-5deg);

}
.second1 > div > div:nth-of-type(2){
    border: 1.25px solid #FFC9C9;
    background-color: #FEF2F2;
    color: #C10007;
    transform: rotate(5deg);
    right: -10px;
    top: 3rem;

}
.second1 > div > div:nth-of-type(3){
    color: #A65F00;
    border: 1.25px solid #FFDF20;
    background-color: #FEFCE8;
    transform: rotate(-5deg);
    top: 6rem;
}
.second1 > div > div:nth-of-type(4){
    border: 1.25px solid #A4F4CF;
    background-color: #ECFDF5;
    color: #00BC7D;
    transform: rotate(5deg);
    right: -10px;
    top: 9rem;

}
.second1 button{
    border: none;
    background-color: #1E1B4B;
    padding: 0.7rem 1rem;
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 0.2rem;
}
.second2{
    width: auto;
    height: 100%;
    position: relative;
}
.second2::before{
    height: 120px;
    width: 100%;
    content: "";
    background-color: #E0E7FF;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 2;
}
.second2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.second2img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.third{
    position: relative;
    margin: 4rem 0;
}
.third > img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: -30vh;
    z-index: -1;
}
.third1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    color: #1E1B4B;
    font-size: 0.8rem;
    font-weight: 400;
    text-wrap: nowrap;

}
.third1 h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.third2{
    height: 100%;
    width: 600px;
    position: relative;
}
.third2 section{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    border: 1.06px solid #E5E5E5;
    width: auto;
    color: #1E1B4B;

}
.third2 > section:first-child{
    top: 0;
    left: 0;
}
.third2 .umrah{
    bottom: 0;
    right: 0;
}
.package1{
font-size: 0.8rem;
font-weight: 500;
display: flex;
flex-direction: column;
gap: 0.5rem;
}
.package1 > div{
    display: flex;
    flex-direction: row;
}
.package1 button{
    border: none;
    flex: 1;
    font-weight: 500;
    font-size: 0.7rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
}
.package1 button:first-child,.umrah .package1 button:last-child{
    background-color: #73737320;
    color: inherit;
}
.package1 button:last-child,.umrah .package1 button:first-child{
    background-color: transparent;
    color: #737373;
}

.package2{
    padding: 0.5rem;
    border: 1.06px solid #E5E5E5 ;
    font-size: 0.7rem;
    font-weight: 500;
    color: #1E1B4B;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.package21{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4338CA;
    align-items: center;
}
.package21 img{
    height: 12px;
    width: 12px;
    object-fit: cover;
}
.umrah .package21{
    color: #A16207;
}
.package21 > div{
    padding: 0.2rem;
    border-radius: 0.2rem;
    background-color: #EEF2FF;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}
.package2 > p{
    font-size: 0.9rem;
}
.package21 > p{
    font-size: 0.9rem;
}
.package22{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.package22 > div{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
}
.package22 img{
    width: 15px;
    height: 15px;
    object-fit: cover;
}
.fourth{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1.5rem;
}
.fourth > div{
    font-size: 0.7rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: #1E1B4B;
}
.fourth h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.fourth1{
    display: flex;
    flex-direction: row;
}