*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    max-width: 100vw;
    position: relative;
    background-color: #FAFAFA;
    overflow-x: hidden;
}
main{
    overflow-x: hidden;
    overflow-y: visible;
}
#canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

}
main{
    z-index: 2;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;

    height: 70px;
    align-items: center;
    z-index: 3;
}
header::before{
    position: absolute;
    content: "";
    inset: 0;
            background-color: #ffffff;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    opacity: 0.3;
    z-index: -1;

}
header > section{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
header > section div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
header > section img{
    height: 50px;
    width: auto;
}
header > section p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #1E1B4B;
}
.header2,.mobile-menu{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.header1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
button,a{
    transition: all 0.5s;
}
.header1 a{
    border: 1px solid #D4D4D4;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.7rem;
    color: #0A0A0A;
    background-color: #F5F5F5;
    text-decoration: none;
    text-wrap: nowrap;

}
.header1 :is(a:hover,a:active){
    background-color: #1E1B4B;
    color: #ffffff;
}
.menu-btn {
    display: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: #F5F5F5;
    border: 1px solid #D4D4D4;
    cursor: pointer;
    text-wrap: nowrap;
}

.header2 button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #1E1B4B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header2 :is(button:hover,button:active){
    background-color: #0A0A0A;
}
.header2 img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}
main .first{
    position: relative;
    padding-top: 8rem;
}
.first,.second,.third{
    padding: 4rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
    gap: 2rem;
    align-items: center;

}
.first::before,.first::after{
    content: "";
    position: absolute;
    width: 100vw ;
    height: 150px;
    filter: blur(150px);
    top: -100px;
}
.first::before{
    background-color: #4F46E5;
    left: -25vw;
}
.first::after{
    background-color: #d08700;
    right: -25vw;
}
.first section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    font-weight: 500;
    font-size: 0.9rem;
        color: #1E1B4B;
}
.first h1{
    font-size: 3.2rem;
    font-weight: 500;


}
.first > div{
    height: 100%;
    overflow: hidden;
}
.first > div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.first button{
    border: none;
    background-color: #0A0A0A;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-radius: 0.1rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.8rem;
    align-items: center;
}
.first :is(button:hover,button:active){
    background-color: #4338CA;
}
.first section div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.second1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 400;
    font-size: 0.8rem;
        color: #1E1B4B;
        align-items: start;
        text-wrap: nowrap;
}
.second1 h2{
    font-size: 2.3rem;
}
.second1 > div{
    position: relative;
    height: 200px;
    width: 100%;
    margin: 1rem 0;
}
.second1 > div div{
position: absolute;
padding: 0.5rem 1rem;
font-weight: 500;
font-size: 1.2rem;

border-radius: 0.2rem;


}
.second1 > div > div:first-of-type{
    color: #1E1B4B;
    border: 1.25px solid #C7D2FE;
    background-color: #EEF2FF;
    transform: rotate(-5deg);

}
.second1 > div > div:nth-of-type(2){
    border: 1.25px solid #FFC9C9;
    background-color: #FEF2F2;
    color: #C10007;
    transform: rotate(5deg);
    right: -10px;
    top: 3rem;

}
.second1 > div > div:nth-of-type(3){
    color: #A65F00;
    border: 1.25px solid #FFDF20;
    background-color: #FEFCE8;
    transform: rotate(-5deg);
    top: 6rem;
}
.second1 > div > div:nth-of-type(4){
    border: 1.25px solid #A4F4CF;
    background-color: #ECFDF5;
    color: #00BC7D;
    transform: rotate(5deg);
    right: -10px;
    top: 9rem;

}
.second1 button{
    border: none;
    background-color: #1E1B4B;
    padding: 0.7rem 1rem;
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 0.2rem;
}
.second1 :is(button:hover,button:active){
    background-color: #A16207;
}
.second2{
    width: auto;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second2::before{
    height: 120px;
    width: 100%;
    content: "";
    background-color: #E0E7FF;
    filter: blur(15px);
    -webkit-filter: blur(15px);
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 2;
}
.second2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.second2img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.third{
    position: relative;
    margin: 4rem 0;
}
.third > img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: -30vh;
    z-index: -1;
}
main .third{
    height: 600px;
}
.third1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    color: #1E1B4B;
    font-size: 0.8rem;
    font-weight: 400;
    text-wrap: nowrap;

}
.third1 h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.third2{
    height: 100%;
    width: 600px;
    position: relative;
}
.third2 section{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    border: 1.06px solid #E5E5E5;
    width: auto;
    color: #1E1B4B;

}
.third2 > section:first-child{
    top: 0;
    left: 0;
}
.third2 .umrah{
    bottom: 0;
    right: 0;
}
.package1{
font-size: 0.8rem;
font-weight: 500;
display: flex;
flex-direction: column;
gap: 0.5rem;
}
.package1 > div{
    display: flex;
    flex-direction: row;
}
.package1 button{
    border: none;
    flex: 1;
    font-weight: 500;
    font-size: 0.7rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
}
.package1 button:first-child,.umrah .package1 button:last-child{
    background-color: #73737320;
    color: inherit;
}
.package1 button:last-child,.umrah .package1 button:first-child{
    background-color: transparent;
    color: #737373;
}

.package2{
    padding: 0.5rem;
    border: 1.06px solid #E5E5E5 ;
    font-size: 0.7rem;
    font-weight: 500;
    color: #1E1B4B;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.package21{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4338CA;
    align-items: center;
}
.package21 img{
    height: 12px;
    width: 12px;
    object-fit: cover;
}
.umrah .package21{
    color: #A16207;
}
.package21 > div{
    padding: 0.2rem;
    border-radius: 0.2rem;
    background-color: #EEF2FF;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}
.package2 > p{
    font-size: 0.9rem;
}
.package21 > p{
    font-size: 0.9rem;
}
.package22{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.package22 > div{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
}
.package22 img{
    width: 15px;
    height: 15px;
    object-fit: cover;
}
.fourth{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 1.5rem;
}
.fourth > div{
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: #1E1B4B;
}
.fourth h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.fourth1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}
.fourth1 > div:first-child{
    width: 450px;
    font-size: 0.95rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourth1 img{
    height: auto;
    width: 250px;
    object-fit: contain;
}
.fourth2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fourth2 > div{
    width: 300px;
    font-weight: 400;
    color: #1E1B4B;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    font-size: 0.95rem;
}
.fourth2 > div div{
    font-weight: 500;
    border-radius: 0.3rem;
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
}
.fourth2 > div:first-of-type div{
    color: #1E1B4B;
    border: 1.25px solid #C7D2FE;
    background-color: #EEF2FF;
    transform: rotate(-5deg);
}
.fourth2 > div:nth-of-type(2) div{
    color: #C10007;
    border: 1.25px solid #FFC9C9;
    background-color: #FEF2F2;
    transform: rotate(5deg);
}

.fourth2 > div:nth-of-type(3) div{
    color: #A65F00;
    background-color: #FEFCE8;
    border: 1.25px solid #FFDF20;
    transform: rotate(-5deg);
}
.fourth2 > div:nth-of-type(4) div{
color: #00BC7D;
background-color: #ECFDF5;
border: 1.25px solid #A4F4CF;
transform: rotate(5deg);
}
.fourth2 > div:nth-of-type(5) div{
color: #A65F00;
background-color: #FEFCE8;
border: 1.25px solid #FFDF20;
transform: rotate(-5deg);
}
.fifth{
    position: relative;
    margin: 6rem 0 8rem;
    height: auto;
}
.fifth img{
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}
.fifth > div{
    width: 575px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.fifth h2{
    font-size: 2rem;
    color: #1E1B4B;
    font-weight: 700;
}
.sixth{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.sixth h1,.seventh h1{
    font-size: 2.5rem;
    color: #1E1B4B;

}
.sixth section{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
}
.sixth1{
    min-width: 300px;
    width: 300px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #737373;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sixth1 > div{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    font-weight: 600;
    color: #1E1B4B;
}
.sixth1 img{
    width: 40px;
    height: 40px;
}
.sixth > section:last-child > div{
transform: translateX(-170px);
}
.seventh{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.seventh section{
     width: 100%;   
     display: flex;
     flex-direction: column;
     align-items: center;
}
.seventh  div{
    width: 60%;
    padding: 0.7rem;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1E1B4B;
    font-weight: 600;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}
.seventh button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   border: 2.5px solid #737373;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
}
.seventh :is(button:hover,button:active){
    background-color: #1E1B4B;
    border-color: #4338CA;
}
.seventh img{
    height: 15px;
    width: 15px;
    object-fit: cover;
}
footer{
    background-color: #4F46E5;
    padding: 4rem 4rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
footer h1{
    font-size: 3.5rem;
    font-weight: 500;
    color: #ffffff;

}
footer section:first-child{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
footer section:first-child button{
        border: none;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-radius: 0.1rem;
    color: #1E1B4B;
    font-weight: 500;
    font-size: 0.8rem;
    align-items: center;
}
footer section:first-child :is(button:hover,button:active){
    background-color: #A16207;
}
footer section:first-child > div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
footer section:last-of-type{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;

}
.footer2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
        font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 500;
}
.footer2 > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;


}

.footer2 button{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 0.2rem;
    background-color: #FFFFFF;
    border: 1px solid #C7D2FE;

}
.footer2 :is(button:hover,button:active){
    background-color: #A4F4CF;
}
.footer2 img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.footer3{
    width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    color: #FFFFFF;
    font-weight: 400;
}
.foot{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 1.1rem;
    text-wrap: nowrap;
}
@media (min-width: 600px) and (max-width: 767.99px) {
.second2,
.first > div{
width: 60vw;
margin: 0 auto;
}
.first h1 br{
    display: none;
}
}

@media (min-width: 768px) and (max-width: 991.98px){
    .first,.second,.third{
        height: auto;
    }
    .first button{
            text-wrap: nowrap;
    }
        .third1{
        text-align: center;

    }
        .third{
        padding: 1rem;
        flex-direction: column;
        height: auto;
        gap: 1.5rem;

    }
    .third > img{
        height: 100%;
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        object-fit: contain;
    }
    .third2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }
    .third2  section{
        position: static ;
    }
    main .third{
        height: auto;
    }
        .seventh div{
        width: 100%;
    }
}
@media (max-width: 599px){
    main .first{
        padding-top: 6rem;
    }
    .first br,.second1 br,footer h1 br{
        display: none;
    }
        header{
        padding: 1rem;
    }
    header > section{
        gap: 1rem;
    }
    .header2{
        justify-content: flex-end;
    }
    .header2 ,.mobile-menu{
        gap: 0.5rem;
    }
    .header1{
    position: relative;
    }
        .menu-btn {
        display: block;
    }
        .mobile-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%);
        gap: 0.5rem;
    }


        .mobile-menu.active {
        display: flex;
    }

        .fifth img{
        height: 150%;
        width: auto;
    }
    .footer3{
        font-size: 1.1rem;
    }
}
@media (max-width: 767.99px){
    header > section img{
        height: 30px;
    }
    header > section p{
        font-size: 1.2rem;
    }
    .header2 button{
        height: 35px;
        width: 35px;
    }
    .first,.second,.third,.fourth{
        padding: 1rem;
        flex-direction: column;
        height: auto;
        gap: 1.5rem;

    }
    .first section{
        text-align: center;
        align-items: center;
        
    }
    .first h1,footer h1{
        font-size: 3rem;
        text-align: center;
    }

    .second1{
        text-align: center;
        text-wrap: wrap;
        align-items: center;
    }
    .second1 > div{
        width: min(100%,450px);
    }
    .third1{
        text-align: center;

    }
    .third1 h1,.sixth h1,.seventh h1{
        font-size: 2.1rem;
        text-align: center;
    }
    .third > img{
        height: 100%;
        width: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        object-fit: contain;
    }
    .third2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }
    .third2  section{
        position: static ;
    }
    main .third{
        height: auto;
    }
    .fourth1{
        flex-direction: column;
        align-items: center;
    }
    .fourth1 > div:first-child{
        width: 100%;
    }
    .fourth2{
        align-items: center;
        justify-content: center;
    }

    .fifth > div{
        width: 100%;
        padding: 1rem;
    }


    .seventh{
        padding: 2rem 1rem;
    }
    .seventh div{
        width: 100%;
    }
    footer{
        padding: 2rem 1rem 6rem;
        flex-direction: column;
        gap: 1.5rem;
    }
    footer section:first-child{
        align-items: center;
    }
    footer section:last-of-type{
        gap: 0.5rem;
        justify-content: space-between;
    }

}