*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100vw;
    max-width: 100vw;
    position: relative;
    background-color: #FAFAFA;
}
#canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

}
main{
    z-index: 2;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;

    height: 70px;
    align-items: center;
    z-index: 2;
}
header::before{
    position: absolute;
    content: "";
    inset: 0;
            background-color: #ffffff;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    opacity: 0.5;
    z-index: -1;

}
header > section{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
header > section div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
header > section img{
    height: 50px;
    width: auto;
}
header > section p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #1E1B4B;
}
.header1,.header2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.header1 button{
    border: 1px solid #D4D4D4;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.7rem;
    color: #0A0A0A;
    background-color: #F5F5F5;
}
.header2 button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #1E1B4B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header2 img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}
.first,.second{
    padding: 4rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}
.first section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    font-weight: 500;
    font-size: 0.9rem;
        color: #1E1B4B;
}
.first h1{
    font-size: 3.2rem;
    font-weight: 500;


}
.first > div{
    height: 100%;
    overflow: hidden;
}
.first > div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.first button{
    border: none;
    background-color: #0A0A0A;
    padding: 0.5rem 0.7rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    border-radius: 0.1rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.8rem;
    align-items: center;
}
.first section div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.second1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 400;
    font-size: 0.8rem;
        color: #1E1B4B;
        align-items: start;
        text-wrap: nowrap;
}
.second1 h2{
    font-size: 2.3rem;
}
.second1 > div{
    position: relative;
    height: 100%;
    margin: 1rem 0;
    width: 100%;
}
.second1 > div div{
position: absolute;
padding: 0.5rem 1rem;
font-weight: 500;
font-size: 1.2rem;

border-radius: 0.2rem;


}
.second1 > div > div:first-of-type{
    color: #1E1B4B;
    border: 1.25px solid #C7D2FE;
    background-color: #EEF2FF;
    transform: rotate(-5deg);

}
.second1 > div > div:nth-of-type(2){
    border: 1.25px solid #FFC9C9;
    background-color: #FEF2F2;
    color: #C10007;
    transform: rotate(5deg);
    right: -10px;
    top: 3rem;

}
.second1 > div > div:nth-of-type(3){
    color: #A65F00;
    border: 1.25px solid #FFDF20;
    background-color: #FEFCE8;
    transform: rotate(-5deg);
    top: 6rem;
}
.second1 > div > div:nth-of-type(4){
    border: 1.25px solid #A4F4CF;
    background-color: #ECFDF5;
    color: #00BC7D;
    transform: rotate(5deg);
    right: -10px;
    top: 9rem;

}
.second1 button{
    border: none;
    background-color: #1E1B4B;
    padding: 0.7rem 1rem;
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 0.2rem;
}
.second2{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
